<header class="header">
    <div class="clear-a header-wrapper">
        <div class="left-section clear-a float-l">
            <div class="main-header-wrapper float-l">
                <img src="../../../assets/img/moh-logo.png" alt="Ministry of Health" />
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="doc-details-wrapper clear-a float-r">
                <h3 class="float-l">
                    <span class="top-text">Dr. Bilal</span>
                    <span class="bottom-text">Primary Physician</span>
                </h3>
                <img class="float-l" src="../../../assets/img/bilal.png" alt="Bilal" />
            </div>
            <div class="form-group has-search float-l">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" class="form-control" placeholder="Search Here">
            </div>
        </div>
        <div class="right-section float-r">
            <div class="notifi-wrapper">
                <span class="count">12</span>
                <i class="fa fa-bell-o" aria-hidden="true"></i>
            </div>
        </div>
    </div>

</header>