<div class="rules-wrapper">
    <div class="rule-area">
        <span class="rule-btn">Rule #1</span>
        <div class="rule-top-section">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            <i class="fa fa-clone" aria-hidden="true"></i>
            <i class="fa fa-undo" aria-hidden="true"></i>
        </div>
        <div class="btn-wrapper clear-a">
            <div class="float-l clear-a operator-wrapper">
                <button class="float-l btn and selected rad-l">and</button>
                <button class="float-l btn border-only rad-r">or</button>
            </div>            
            <div class="float-r clear-a rule-btns">
                <button class="float-l btn btn-border">rule</button>
                <button class="float-l btn btn-border last">rule set</button>
            </div>
        </div>
        <div class="draggable-area clear-a">
            <select class="form-control float-l first-dropdown">
                <option>Basic information brand ID</option>
            </select>
            <label class="operator float-l">=</label>
            <select class="form-control float-l">
                <option>Number</option>
            </select>
            <i class="fa fa-trash-o float-r" aria-hidden="true"></i>
        </div>
        <div class="draggable-area clear-a">
            <select class="form-control float-l">
                <option>Basic information brand ID</option>
            </select>
            <label class="operator float-l">=</label>
            <select class="form-control float-l">
                <option>Number</option>
            </select>
            <i class="fa fa-trash-o float-r" aria-hidden="true"></i>
        </div>
    </div>
    <div class="rule-area inactive">
        <span class="rule-btn">Rule #2</span>
        <div class="rule-top-section hidden">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            <i class="fa fa-clone" aria-hidden="true"></i>
            <i class="fa fa-undo" aria-hidden="true"></i>
        </div>
        <div class="btn-wrapper clear-a">
            <div class="float-l clear-a operator-wrapper">
                <button class="float-l btn and rad-l">and</button>
                <button class="float-l btn border-only rad-r">or</button>
            </div>            
            <div class="float-r clear-a rule-btns disabled">
                <button class="float-l btn btn-border">rule</button>
                <button class="float-l btn btn-border last">rule set</button>
            </div>
        </div>
    </div>
</div>
