@import "../../../init";
@import "../../../mixins";

.actions-wrapper {
  padding: 15px 15px;
  text-align: left;
  .title-row {
    h3 {
      font-family: $med-font;
      color: $pag-dark-text;
      font-size: 1.05em;
      margin: 5px 15px 0 0;
    }
    .rule-btn {
      @include light-blue-btn;
    }
    i {
      font-size: 16px;
      margin: 3px 0 0;
      color: $pag-light-text;
    }
  }
  .filter-wrapper {
    margin: 25px -15px 10px;
    position: relative;
    .fields {
      label {
        margin: 0 0 4px;
        font-size: 1.05em;
        color: $blue-text;
      }
      select {
        height: 38px;
        border: 1px solid $field-border-color;
      }
    }
    .add {
      background: #224566;
      height: 38px;
      margin: 22px 0px 0 0;
      padding: 0;
      text-align: center;
      color: #fff;
      width: 60px;
      line-height: 36px;
      position: absolute;
      right: 15px;
      bottom: 0;
      font-size: 1.05em;
    }
  }
  .action-list {
    margin: 10px 0 0;
    border: 1px solid #dfe1ea;
    padding: 0 13px;
    &.first{
        margin: 35px 0 0;
    }
    .status-wrapper {
      height: 33px;
      color: $blue-text;
      line-height: 33px;
      background: $light-green;
      margin: 0 -13px;
      padding: 0 13px;
      border-bottom: 1px solid #dbf2df;
      &.fail{
        background: $light-red-bg;
        border-bottom: 1px solid #FFE7E6;
      }
      i {
        font-size: 14px;
        margin: 10px 0 0;
        color: $pag-dark-text;
      }
      .status {
        height: 24px;
        background: $success-green-bg;
        margin: 4px 0 0 10px;
        border-radius: 8px;
        line-height: 24px;
        padding: 0 10px;
        font-family: $med-font;
        font-size: 0.95em;
        color: #187931;
        &.fail{
            background: #FF6155;
            color: #a90c00;
            padding: 0 15px;
        }
      }
    }
    .status-content {
      .action-group {
        margin: 10px 0 15px;
        &.last {
          margin: 10px 0;
        }
        label {
          margin: 0 0 8px;
          font-size: 0.9em;
          color: $blue-text;
        }
        .btn-wrapper {
          .btn {
            @include operator-btn;
            width: 25%;
            &.selected {
              @include blue-operator-btn;
            }
            &.rad-l {
              border-radius: 0;
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
            }
            &.rad-r {
              border-radius: 0;
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
            }
          }
        }
      }
    }
  }
}
