<div class="actions-wrapper container-fluid">
    <div class="title-row clear-a">
        <h3 class="float-l">Actions</h3>
        <span class="float-l rule-btn">Rule #1</span>
        <i class="fa fa-times-circle float-r" aria-hidden="true"></i>
    </div>
    <div class="clear-a row filter-wrapper">
        <div class="col-9 pr-0 fields">
            <label>If action</label>
            <select class="form-control">
                <option>In App</option>
            </select>
        </div>
        <div class="col-9 pr-0 fields">
            <label>Validation</label>
            <select class="form-control">
                <option>Success</option>
            </select>
        </div>
        <button class="btn add col-4">Add</button>
    </div>
    <div class="action-list first">
        <div class="clear-a status-wrapper success">
            <span class="float-l in-app">In App</span>
            <span class="status float-l">Success</span>
            <i class="fa fa-trash-o float-r" aria-hidden="true"></i>
        </div>
        <div class="clear-a status-content">
            <div class="action-group">
                <label>Validation Type</label>
                <div class="clear-a btn-wrapper">
                    <button class="float-l btn and rad-l">Show</button>
                    <button class="float-l btn">Hide</button>
                    <button class="float-l btn">Alert</button>
                    <button class="float-l btn selected rad-r">Validate</button>
                </div>                
            </div>
            <div class="action-group last">
                <select class="form-control">
                    <option>Basic information brand ID</option>
                </select>               
            </div>
        </div>
    </div>
    <div class="action-list">
        <div class="clear-a status-wrapper fail">
            <span class="float-l in-app">In App</span>
            <span class="status float-l fail">Fail</span>
            <i class="fa fa-trash-o float-r" aria-hidden="true"></i>
        </div>
        <div class="clear-a status-content">
            <div class="action-group">
                <label>Validation Type</label>
                <div class="clear-a btn-wrapper">
                    <button class="float-l btn and rad-l">Show</button>
                    <button class="float-l btn">Hide</button>
                    <button class="float-l btn">Alert</button>
                    <button class="float-l btn selected rad-r">Validate</button>
                </div>                
            </div>
            <div class="action-group last">
                <select class="form-control">
                    <option>Basic information brand ID</option>
                </select>               
            </div>
        </div>
    </div>
</div>
