@import "./fonts";

$reg-font: 'robotoregular', sans-serif;
$med-font: 'robotomedium', sans-serif;
$bold-font: 'robotobold', sans-serif;

$theme-light-gray:#3b444f;
$body-bg:#E0E4E4;
$light-text:#828282;
$blue-text:#547CA2;
$primary-btn-bg:#2ed573;
$secondary-btn-bg:#90a2b2;
$cancel-bg:#ABC4DB;
$light-border-color:#F2F2F2;
$field-border-color:#DBDBDB;
$light-bg-color:#fdfdfd;
$input-font-color:#979797;
$section-border-color:#ECECEC;
$pag-light-text:#AFBAC8;
$pag-dark-text:#708095;
$rule-border-color:#5F62F6;
$light-blue:#E8F4FF;
$blue-btn:#1F6ECE;
$blue-border:#80A7DB;
$rule-border-bg:#E6ECF2;
$light-green:#EBFFEE;
$success-green-bg:#73D782;
$light-red-bg:#FFE7E6;