<div class="field-section-wrapper">
    <div class="form-group has-search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" class="form-control" placeholder="Search Fields/ Elements">
    </div>
    <ul class="field-list">
        <li class="selected clear-a">
            <i class="fa fa-venus-mars" aria-hidden="true"></i>
            <div class="float-l text-content">
                <span class="field-name">Expected age</span>
                <span class="description">Text field</span>
            </div>
        </li>
        <li class="clear-a">
            <i class="fa fa-venus-mars" aria-hidden="true"></i>
            <div class="float-l text-content">
                <span class="field-name">Gender</span>
                <span class="description">Text field</span>
            </div>
        </li>
        <li class="clear-a">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <div class="float-l text-content">
                <span class="field-name">Expected Date</span>
                <span class="description">Text field</span>
            </div>
        </li>
        <li class="clear-a">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <div class="float-l text-content">
                <span class="field-name">Expected Time</span>
                <span class="description">Text field</span>
            </div>
        </li>
        
        <li class="clear-a">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            <div class="float-l text-content">
                <span class="field-name">Save</span>
                <span class="description">Text field</span>
            </div>
        </li>
        <li class="clear-a">
            <i class="fa fa-ban" aria-hidden="true"></i>
            <div class="float-l text-content">
                <span class="field-name">Cancel</span>
                <span class="description">Text field</span>
            </div>
        </li>
    </ul>
    <p class="results">09 of 20 Results</p>
    <div class="pagination-wrapper clear-a">
        <a class="float-l prev disabled">prev</a>
        <div class="numbers clear-a">
            <a class="float-l current">1</a>
            <a class="float-l">2</a>
            <a class="float-l">3</a>
        </div>
        <a class="float-r prev">next</a>
    </div>
</div>
