<div class="field-section-wrapper">
    <div class="form-group has-search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" class="form-control" placeholder="Search Fields/ Elements">
    </div>
    <ul class="field-list">
        <li class="clear-a" *ngFor="let field of details">
            <i class="fa {{field.icon}}" aria-hidden="true"></i>
            <div class="float-l text-content">
                <span class="field-name">{{field.name}}</span>
                <span class="description">{{field.type}}</span>
            </div>
        </li>        
    </ul>
    <p class="results">09 of 20 Results</p>
    <div class="pagination-wrapper clear-a">
        <a class="float-l prev disabled">prev</a>
        <div class="numbers clear-a">
            <a class="float-l current">1</a>
            <a class="float-l">2</a>
            <a class="float-l">3</a>
        </div>
        <a class="float-r prev">next</a>
    </div>
</div>